firecrawl-py
openai
SQLAlchemy
python-dotenv
fuzzywuzzy
firecrawl
flask
pytz
requests
schedule
spotipy
tenacity
werkzeug
ics==0.7.2
alembic==1.13.1
selenium==4.17.2
webdriver-manager==4.0.1
beautifulsoup4==4.12.3
python-dateutil==2.8.2