{% extends "base.html" %}

{% block content %}
<div class="login-form">
    <h2>Login</h2>
    
    <div class="oauth-buttons">
        <a href="{{ url_for('auth.spotify_login') }}" class="oauth-button spotify-button">
            <i class="fab fa-spotify"></i> Login with Spotify
        </a>
        <a href="{{ url_for('google_auth.login') }}" class="oauth-button google-button">
            <i class="fab fa-google"></i> Login with Google
        </a>
    </div>
    
    <p class="login-footer">Choose your preferred login method above</p>
</div>
{% endblock %} 